---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
  title="Books | Emanuele Bartolesi"
  description="Books written by Emanuele Bartolesi"
>
  <div class="stack gap-20">
    <main class="wrapper stack gap-8">
      <Hero title="Books" tagline="The books I wrote and the books I'm writing">
        <img
          width="1553"
          height="873"
          src="/assets/1500x500.jpg"
          alt="Emanuele Bartolesi"
        />
      </Hero>

      <section>
        <div class="content">
          <h2 class="section-title">
              Mastering Minimal APIs in ASP.NET Core (First Edition)
          </h2>
          <p>
            The Minimal APIs feature, introduced in .NET 6, is the answer to
            code complexity and rising dependencies in creating even the
            simplest of APIs. Minimal APIs facilitate API development using
            compact code syntax and help you develop web APIs quickly. This
            practical guide explores Minimal APIs end-to-end and helps you take
            advantage of its features and benefits for your ASP.NET Core
            projects. The chapters in this book will help you speed up your
            development process by writing less code and maintaining fewer files
            using Minimal APIs. You’ll also learn how to enable Swagger for API
            documentation along with CORS and handle application errors. The
            book even promotes ideas to structure your code in a better way
            using the dependency injection library in .NET. Finally, you'll
            learn about performance and benchmarking improvements for your apps.
            By the end of this book, you’ll be able to fully leverage new
            features in .NET 6 for API development and explore how Minimal APIs
            are an evolution over classical web API development in ASP.NET Core.
            <br />
            <a href="https://www.packtpub.com/product/mastering-minimal-apis-in-aspnet-core/9781803237824" target="_blank">
              Buy on Packt
            </a>
          </p>

          <p style="text-align: center">
            <img
              src="https://sanet.pics/storage-8/1022/JnaxnZqPPsSpLCrWq1fDWD3I3Wvdorvj.jpg"
              alt="Minimal APIs with .NET"
              width="400"
            />
          </p>

          <hr />
        </div>
      </section>
      <section>
        <div class="content">
          <h2 class="section-title">Tech Talk made easy</h2>
          <p style="text-align: center">
            <img
              src="https://sanet.pics/storage-8/1022/JnaxnZqPPsSpLCrWq1fDWD3I3Wvdorvj.jpg"
              alt="Minimal APIs with .NET"
              width="400"
            />
          </p>
        </div>
      </section>
    </main>
  </div>

  <ContactCTA />
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
