---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
  title="Courses | Emanuele Bartolesi"
  description="Courses I published and courses I'm working on"
>
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="Courses"
        tagline="The courses I published and the courses I'm working on"
      >
        <img
          width="1553"
          height="873"
          src="/assets/1500x500.jpg"
          alt="Emanuele Bartolesi"
        />
      </Hero>

      <section>
        <h2 class="section-title">Learning GitHub</h2>
        <div class="content">
          <p>
            <img src="/assets/minimal-apis-with-dotnet.jpg" alt="Minimal APIs with .NET" />
            <a href="https://www.packtpub.com/product/minimal-apis-with-net/9781800565784">
              Minimal APIs with .NET
            </a>{" "}
            is a book about the new Minimal APIs feature of ASP.NET Core 6.
          </p>

        </div>
      </section>
      <section>
        <h2 class="section-title">Git and GitFlow</h2>
        <div class="content">
          <p>
            <img src="/assets/tech-talk-made-easy.jpg" alt="Tech Talk made easy" />
            <a href="https://www.packtpub.com/product/tech-talk-made-easy/9781800565784">
              Tech Talk made easy
            </a>{" "}
            is a book about public speaking for developers.
          </p>
        </div>
      </section>

    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
