---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
  title="Courses | Emanuele Bartolesi"
  description="Courses I published and courses I'm working on"
>
  <div class="stack gap-20">
    <main class="wrapper stack gap-8">
      <Hero
        title="Courses"
        tagline="The courses I published and the courses I'm working on"
      >
        <p style="align:center">
          <img
            width="700"
            src="/assets/community.jpg"
            alt="Emanuele Bartolesi"
          />
        </p>
      </Hero>

      <section>
        <div class="content">
          <h2 class="section-title">[LinkedIn Learning] - Learning GitHub</h2>
          <p>
            <img src="/assets/learningithub.jpg" alt="Learning GitHub" />
          </p>
          <p>
            GitHub is the industry-standard tool for collaborating on and
            sharing code. It's popular among software developers, project
            managers, designers, and students for its flexibility and control.
            This course introduces GitHub and Git, the version control system
            that GitHub is built upon. Instructor Emanuele Bartolesi shows how
            GitHub can create collaborative workflows for you and your team.
            Explore how version control enables you and your team to track the
            changes in your files, maintain a history of them, and get some
            advice to work better with open-source projects. Emanuele gives you
            the knowledge you need to be able to select appropriate projects to
            be pushed to GitHub, successfully initialize Git on an existing
            project, navigate the GitHub UI to perform common tasks like
            branching, commits, and pull requests, and more.
            <br />
            <a href="https://www.linkedin.com/learning/learning-github-18719601" target="_blank">
              Go to the course
            </a>
          </p>
        </div>
      </section>
      <section>
        <div class="content">
          <h2 class="section-title">Git and GitFlow</h2>
          <p>
            <img src="/assets/gitgitflow.jpg" alt="Git & GitFlow course" width="350" />
          </p>
          <p>
            I am working on a course about Git and GitFlow. It will be published on my private platform soon.
            It will talk about the basics of Git and how to use it in a team environment.
            In addition, it will cover the GitFlow workflow and how to use it to collaborate with your team.
          </p>
        </div>
      </section>
      <section>
        <div class="content">
          <h2 class="section-title">PowerShell Basics</h2>
          <p>
            <img src="/assets/powershellcourse.jpg" alt="A PowerShell Course" width="350" />
          </p>
          <p>
            I am collaborating with a company to create a PowerShell course.
            It will be published on their platform at the beginning of 2024.
            It will cover the basics of PowerShell and how to use it to automate your daily tasks.
          </p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
